/*    Mixin the media Queries    */


/* Colors */
$footergray: #bbbbbb;
$orange:#dc5f00;
$lightorange:#ff9933;
$lightgray:#e6e4df;
$textdarkgrey:#999999;
$claimfarbe:#999999;
$linkgray:#999999;
$mainnavigationlink:#5e5e5e;

/* Fonts */
$hausschrift:'';
$fliesstext: TheSerifB6-Semi-Bold,Constantia,"Lucida Bright",Lucidabright,"Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif;
$theSerifLightItalic:TheSerifB3-Light-Italic;
$theSerifSemiBold:TheSerifB6-Semi-Bold;
$theSansPlain:TheSansPlain;
$theSerifPlainItalic:TheSerifPlainItalic;
$theSerifPlain:TheSerifPlain;
$TheSerifSemiboldItalic:TheSerifSemiboldItalic;
$TheSerifBoldItalic:TheSerifBoldItalic;


$mainFontSize:10px;





@mixin media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@include media(280px) {

nav.sticky-navigation {font-family:$theSansPlain;font-size: $mainFontSize*2.2;line-height:$mainFontSize*4;}
div.text-on-image h1 {font-family:$theSerifLightItalic;font-size:$mainFontSize*2;line-height:$mainFontSize*2.8;color:white;font-weight:600;} 
div.text-out-image h1 {font-family:$theSerifLightItalic;font-size:$mainFontSize*3.4;line-height:$mainFontSize*4.4;color:black;text-shadow:none;} /*SSD only */
div.text-on-image.smaller h1 {font-family:$theSerifLightItalic;font-size:$mainFontSize*2;line-height:$mainFontSize*2.8;} 
div.text-out-image.smaller h1 {font-family:$theSerifLightItalic;font-size:$mainFontSize*2.8;line-height:$mainFontSize*3.2;} 
div.text-on-image h2 {font-family:$theSansPlain;font-size: $mainFontSize*1.8;color:white;}
div.text-out-image h2 {font-family:$theSansPlain;font-size: $mainFontSize*1.8;line-height:$mainFontSize*2.8;color:black;} /*SSD only */
div.weitere-stars h1 {font-family:$theSerifLightItalic;font-size: $mainFontSize*2.8;line-height:$mainFontSize*3.8;}
div.weitere-stars section {font-family:$theSerifLightItalic;font-size: $mainFontSize*2.2;line-height:$mainFontSize*3.2;}
h1.main-page {font-family:$theSansPlain;font-size:$mainFontSize*1.6;line-height: $mainFontSize*2.8;color:white;text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);}
.main .scrollTextOnSticky h1 {font-family:$theSerifPlainItalic;font-size:$mainFontSize*3;line-height:$mainFontSize*3.8;color: black;}
h2.main-page {font-family:$theSerifSemiBold;font-size:$mainFontSize*3.5;line-height: $mainFontSize*4;color:white;text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);}
article.interview h1 {font-family:$theSerifPlainItalic;font-size:$mainFontSize*3.4;line-height: $mainFontSize*4.4;color:black;text-shadow:none;}
div.impressum-overlay-container h1 {font-family:$TheSerifSemiboldItalic;font-size:$mainFontSize*3.6;line-height: $mainFontSize*4;text-align:center;}
.homepage-first-content-slider div.caption, .ssd-slider section, .homepage-fullscreen-slider div.caption {font-family:$theSerifPlain;font-size: $mainFontSize*1.8;line-height: $mainFontSize*2.2;}
.homepage-first-content-slider div.caption {font-size: $mainFontSize*1.5;}
div.text-scroll-down {font-family:$theSansPlain;font-size:$mainFontSize*1.8;line-height:$mainFontSize*2.4;color: white;}
article.interview, article.scrollTextOnSticky {font-family:$theSerifPlain;font-size: $mainFontSize*2;line-height: $mainFontSize*3;}
aside.interview.left header.small-screen-only {font-family:$theSerifPlain;;font-size:$mainFontSize*2.6;line-height:$mainFontSize*2.8;color: #015;}
.movie-still footer {font-family:$theSerifPlain;font-size:$mainFontSize*1.8;line-height:$mainFontSize*2.2;color: #666;}
section.question {font-family:$theSerifSemiBold;color: #015;}
article.portrait {font-family:$theSerifPlain;font-size:$mainFontSize*2;line-height: $mainFontSize*3;}
article.portrait strong, article.portrait b {font-family:$theSansPlain;}
aside.portrait header, article.portrait header, article.scrollTextOnSticky header, article.interview header {font-family:$theSerifPlain;font-size: $mainFontSize*3;line-height:$mainFontSize*3.6;}
aside.portrait article.social-links header {font-size:$mainFontSize*2;font-family: $theSansPlain;line-height: $mainFontSize*3.2;font-weight:600;}
.overlay-link {font-family:$theSansPlain;font-size:$mainFontSize*1.8;}
.footer-container footer a {font-family:$theSansPlain;font-size: $mainFontSize*1.8;line-height:$mainFontSize*2.2;color:#595959;}
.impressum-overlay-content {font-family:$theSansPlain;font-size: $mainFontSize*1.2;line-height:$mainFontSize*1.6;}
}

@include media(400px) {
.overlay-slider {min-width:380px;}
}

@include media(500px) {
.overlay-slider {min-width:480px;}

}

@include media(600px) {
.overlay-slider {min-width:580px;}
}

@include media(700px) {
.overlay-slider {min-width:680px;}
}


@include media(768px) {

div.text-on-image h1 {font-size: $mainFontSize*3.6;line-height: $mainFontSize*4;}
div.text-on-image {font-size: $mainFontSize*2;line-height: $mainFontSize*2.5;}
div.text-on-image.smaller h1 {font-size:$mainFontSize*3.6;line-height:$mainFontSize*4;} 
h1.main-page {font-size:$mainFontSize*2.6;line-height: $mainFontSize*3.2;}
div.weitere-stars h1 {font-size: $mainFontSize*3.6;line-height:$mainFontSize*4;}
.main .scrollTextOnSticky h1 {font-size:$mainFontSize*3.6;line-height:$mainFontSize*4.4;}
h2.main-page {font-size:$mainFontSize*8.5;line-height: $mainFontSize*5;}
div.impressum-overlay-container h1 {text-align:left;}
article.interview, article.portrait, article.scrollTextOnSticky  {font-size: $mainFontSize*2;line-height: $mainFontSize*3;}
article.portrait header, article.scrollTextOnSticky header, , article.interview header {font-size: $mainFontSize*3.6;line-height:$mainFontSize*4;}
.homepage-fullscreen-slider div.slick-slide div.caption {font-size: $mainFontSize*3.6;line-height: $mainFontSize*4.8;}
.homepage-first-content-slider div.caption {font-size: $mainFontSize*2.2;}
.overlay-link {font-size: $mainFontSize*2.2;}
.impressum-overlay-content {font-family:$theSansPlain;font-size: $mainFontSize*1.8;line-height:$mainFontSize*3.2;}


}

@include media(1580px) {

}

@include media(1840px) {
}

@include media(2100px) {
}

@include media(2400px) {

}

